
Ingenu_Power/.vs/Ingenu_Power/v15/Server/sqlite3/storage.ide-shm
Ingenu_Power/.vs/Ingenu_Power/v15/.suo
Ingenu_Power/.vs/Ingenu_Power/v15/Server/sqlite3/storage.ide
Ingenu_Power/.vs/Ingenu_Power/v15/Server/sqlite3/storage.ide-shm
Ingenu_Power/.vs/Ingenu_Power/v15/Server/sqlite3/storage.ide-wal
Ingenu_Power/HC_ISP/obj/Debug/ISP.csprojAssemblyReference.cache
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Ingenu_Power.exe.config.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Ingenu_Power.exe.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Ingenu_Power.exe.manifest
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Instrument_Control.dll.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/ISP.dll.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/MaterialDesignColors.dll.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/MaterialDesignThemes.Wpf.dll.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Microsoft.Office.Interop.Excel.dll.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Office.dll.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Resources/null.png.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Resources/owl.ico.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Resources/测试不合格.wav.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Resources/测试合格.wav.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Resources/消防电源检验报告(标准定版）.xls.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Resources/请断开备电.wav.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Resources/请断开强启.wav.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Resources/请短路强启.wav.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/Resources/请重开备电.wav.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Application Files/Ingenu_Power_2_4_0_3/ShowMeTheXAML.dll.deploy
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Ingenu_Power.application
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Ingenu_Power.exe
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/publish.htm
Ingenu_Power/Ingenu_Power/bin/Debug/Ingenu_Power.application
Ingenu_Power/Ingenu_Power/bin/Debug/Ingenu_Power.exe
Ingenu_Power/Ingenu_Power/bin/Debug/Ingenu_Power.exe.manifest
Ingenu_Power/Ingenu_Power/bin/Debug/Ingenu_Power.pdb
Ingenu_Power/Ingenu_Power/Ingenu_Power.csproj
*.ide
Ingenu_Power/.vs/Ingenu_Power/v15/.suo
Ingenu_Power/.vs/Ingenu_Power/v15/Server/sqlite3/storage.ide
Ingenu_Power/.vs/Ingenu_Power/v15/Server/sqlite3/storage.ide-shm
Ingenu_Power/.vs/Ingenu_Power/v15/Server/sqlite3/storage.ide-wal
Ingenu_Power/HC_ISP/obj/Debug/ISP.csprojAssemblyReference.cache
Ingenu_Power/Ingenu_Power/bin/Debug/app.publish/Ingenu_Power.exe
Ingenu_Power/Ingenu_Power/bin/Debug/Ingenu_Power.application
Ingenu_Power/Ingenu_Power/bin/Debug/Ingenu_Power.exe
Ingenu_Power/Ingenu_Power/bin/Debug/Ingenu_Power.exe.manifest
Ingenu_Power/Ingenu_Power/bin/Debug/Ingenu_Power.pdb
Ingenu_Power/Ingenu_Power/Ingenu_Power.csproj
Ingenu_Power/Ingenu_Power/obj/Debug/Ingenu_Power.csprojAssemblyReference.cache
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Domain/ResultMessageDialog.baml
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power.application
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power.csproj.CoreCompileInputs.cache
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power.csprojAssemblyReference.cache
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power.exe
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power.exe.manifest
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power.pdb
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power_MarkupCompile.cache
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power_MarkupCompile.i.cache
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power_MarkupCompile.i.lref
Ingenu_Power/Ingenu_Power/obj/x86/Debug/MainWindow.baml
Ingenu_Power/Ingenu_Power/obj/x86/Debug/UserControls/ucAdvancedSettings.baml
Ingenu_Power/Ingenu_Power/obj/x86/Debug/UserControls/ucDatabaseLogin.baml
Ingenu_Power/Ingenu_Power/obj/x86/Debug/UserControls/ucDataQuery.baml
Ingenu_Power/Ingenu_Power/obj/x86/Debug/UserControls/ucInstrumentValidation.baml
Ingenu_Power/Ingenu_Power/obj/x86/Debug/UserControls/ucISP.baml
Ingenu_Power/Ingenu_Power/obj/x86/Debug/UserControls/ucLogin.baml
Ingenu_Power/Ingenu_Power/obj/x86/Debug/UserControls/ucMeasure.baml
Ingenu_Power/Instrument_Control/obj/Debug/Instrument_Control.csprojAssemblyReference.cache
Ingenu_Power/ProductInfor/bin/Debug/ProductInfor.dll
Ingenu_Power/ProductInfor/bin/Debug/ProductInfor.pdb
Ingenu_Power/ProductInfor/obj/Debug/ProductInfor.csproj.FileListAbsolute.txt
Ingenu_Power/ProductInfor/obj/Debug/ProductInfor.csprojAssemblyReference.cache
Ingenu_Power/ProductInfor/obj/Debug/ProductInfor.dll
Ingenu_Power/ProductInfor/obj/Debug/ProductInfor.pdb
*.ide
*.ide-shm
*.cache
*.exe
