
Ingenu_Power/ProductInfor/obj/Debug/ProductInfor.pdb
Ingenu_Power/ProductInfor/obj/Debug/ProductInfor.dll
Ingenu_Power/ProductInfor/obj/Debug/ProductInfor.csprojAssemblyReference.cache
Ingenu_Power/ProductInfor/obj/Debug/ProductInfor.csproj.FileListAbsolute.txt
Ingenu_Power/ProductInfor/bin/Debug/ProductInfor.pdb
Ingenu_Power/ProductInfor/bin/Debug/ProductInfor.dll
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power.exe.manifest
Ingenu_Power/Ingenu_Power/obj/x86/Debug/Ingenu_Power.csprojAssemblyReference.cache
Ingenu_Power/Ingenu_Power/bin/Debug/Ingenu_Power.exe.manifest
Ingenu_Power/.vs/Ingenu_Power/v15/Server/sqlite3/storage.ide-wal
Ingenu_Power/.vs/Ingenu_Power/v15/Server/sqlite3/storage.ide-shm
Ingenu_Power/.vs/Ingenu_Power/v15/Server/sqlite3/storage.ide
Ingenu_Power/.vs/Ingenu_Power/v15/.suo
